name: CI
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        exemplar: [00-minimal, 01-dependencies, 02-multilang, 03-scalatest, 04-junit]
        os: [windows, macos, ubuntu]
        jvm:
          - 11
          - 17
          - 21
    runs-on: ${{ matrix.os }}-latest
    concurrency:
      group: ${{ matrix.exemplar }}-${{ github.workflow }}-${{ matrix.os }}-${{ matrix.jvm }}-${{ github.event.number || github.ref }}
      cancel-in-progress: true
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.24
      - name: Check
        uses: DanySK/build-check-deploy-gradle-action@4.0.7
        env:
          OMDB_API_KEY: ${{ secrets.OMDB_API_KEY }}
        with:
          should-run-codecov: false
          should-validate-wrapper: ${{ matrix.os == 'ubuntu' && matrix.jvm == 11 }}
          working-directory: ${{ matrix.exemplar }}
  CI-Complete:
    needs: [Build]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ always() && !contains(join(needs.*.result, ','), 'cancelled') && !contains(join(needs.*.result, ','), 'skipped') }}
    steps:
      - run: echo "jobs resulted in ${{ join(needs.*.result, ',') }}"
      - run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
